# Laravel
laratest-api/*.log
laratest-api/.DS_Store
laratest-api/.env
laratest-api/.env.backup
laratest-api/.env.production
laratest-api/.phpactor.json
laratest-api/.phpunit.result.cache
laratest-api/.fleet
laratest-api/.idea
laratest-api/.nova
laratest-api/.phpunit.cache
laratest-api/.vscode
laratest-api/.zed
laratest-api/auth.json
laratest-api/node_modules
laratest-api/public/build
laratest-api/public/hot
laratest-api/public/storage
laratest-api/storage/*.key
laratest-api/storage/pail
laratest-api/vendor
laratest-apiHomestead.json
laratest-apiHomestead.yaml
laratest-apiThumbs.db


# Node
laratest-app/node_modules/
laratest-app/dist/
laratest-app/.env*
laratest-app/.vscode/*
laratest-app/!.vscode/extensions.json
laratest-app/.idea
laratest-app/.DS_Store
laratest-app/*.suo
laratest-app/*.ntvs*
laratest-app/*.njsproj
laratest-app/*.sln
laratest-app/*.sw?